.icon-create{
  padding: 10px;
  background-color: #4867aa;
  color: #fff;
  margin-bottom: 10px;
}

.label-create{
  font-size: 20px;
  font-weight: bold;
}
.icon-table {
	padding: 5px;
    background-color: #4867aa;
    color: #fff;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 13px;
}
i {
  cursor: pointer;
}